extends adminLayout

block headContent
	title Admin: User #{user.username}

block adminContent
	+pageTitle(`User: ${user.username}`)


	+contentSection("Summary")
		+summaryRow(2)
			+summaryItem("Roles")
				| #{JSON.stringify(user.roles)}

			+summaryItem("Created / Updated")
				| #{utils.formatDate(user.createdAt)}

				if (user.createdAt.getTime() == user.updatedAt.getTime())
					span.ms-2.fs-80.text-muted (both)

				else
					div #{utils.formatDate(user.updatedAt)}
	

	+contentSection("Tools")
		a.btn.btn-primary.me-3(href=`/admin/user/${user.username}/add-role/admin`) Promote to Admin
		a.btn.btn-danger.btn-block(href=`/admin/user/${user.username}/delete`) Delete User
			