- var quoteUrl = (list ? `/list/${list._id}/${quote._id}` : `/quote/${quote._id}`);

.card.shadow-sm.mb-3
	.card-body
		.quote-body
			if (quote.text)
				div
					h6.mb-4
						a.text-reset.text-decoration-none(href=quoteUrl)
							| !{marked(quote.text.replace(/\n/g, "\n\n"))}

					h6.ps-3
						footer.blockquote-footer
							i
								if (quote.speakers && quote.speakers.length > 0)
									each speaker, speakerIndex in quote.speakers
										if (quote.speakers.length > 2 && speakerIndex > 0)
											| , 
										
										if (quote.speakers.length > 1 && speakerIndex == (quote.speakers.length - 1))
											| & 
										
										if (noSpeakerLinks)
											span.speaker-non-link.text-dark #{speaker}
										else
											a(href=`/speaker/${encodeURIComponent(speaker)}`) #{speaker ? speaker : "Unknown"}

										if (quote.speakerContexts && quote.speakerContexts.length > speakerIndex && quote.speakerContexts[speakerIndex].trim().length > 0)
											br
											small (#{quote.speakerContexts[speakerIndex]})
								else
									if (noSpeakerLinks)
										span.speaker-non-link.text-dark #{Unknown}
									else
										a(href=`/speaker/unknown`) Unknown
			
			else if (quote.parts)
				each part, partIndex in quote.parts
					div(class=(partIndex < (quote.parts.length - 1) ? "mb-3" : null))
						h6.mb-4
							a.text-reset.text-decoration-none(href=quoteUrl)
								| !{marked(part.replace(/\n/g, "\n\n"))}

						h6.ps-3
							footer.blockquote-footer
								i
									if (quote.speakers && quote.speakers.length > partIndex)
										if (noSpeakerLinks)
											span.speaker-non-link.text-dark #{quote.speakers[partIndex]}
										else
											a(href=`/speaker/${encodeURIComponent(quote.speakers[partIndex])}`) #{quote.speakers[partIndex] ? quote.speakers[partIndex] : "Unknown"}

										if (quote.speakerContexts && quote.speakerContexts.length > partIndex && quote.speakerContexts[partIndex].trim().length > 0)
											br
											small (#{quote.speakerContexts[partIndex]})
									else
										if (noSpeakerLinks)
											span.speaker-non-link.text-dark Unknown
										else
											a(href=`/speaker/unknown`) Unknown
		
		hr

		.clearfix
			.float-end
				- var date = quote.date;
				if (!date)
					- date = quote.createdAt;

				if (date)
					i.far.fa-clock.me-1
					| #{utils.formatDate(date, "MMM d, yyyy")}
					
					// TODO implement year pages
					if (false)
						a.text-reset.underlined-link(href=`/year/${utils.formatDate(date, "yyyy")}`) #{utils.formatDate(date, "yyyy")}
					
					if (utils.formatDate(date, "HH:mm:ss") != "00:00:00")
						|  - #{utils.formatDate(date, "h:mma").toLowerCase()}
				
				if (session.user && quote.userId == session.user._id)
					div.text-end(class=(quote.date ? "mt-2" : false))
						.dropdown
							button.btn.btn-outline-secondary.py-0.btn-sm.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.fas.fa-cog
							.dropdown-menu.dropdown-menu-end
								a.dropdown-item(href=`javascript:void(0);` onclick=`copyTextToClipboard(baseUrl + 'share/${quote._id}')`)
									i.far.fa-clipboard.me-2
									| Copy shareable link
								a.dropdown-item(href=`/quote/${quote._id}/edit`)
									i.far.fa-edit.me-2
									| Edit this quote
								a.dropdown-item(href=`/quote/${quote._id}/raw`, target="_blank")
									i.fas.fa-info-circle.me-2
									| View raw data
								a.dropdown-item.text-danger(href=`/quote/${quote._id}/delete`)
									i.far.fa-trash-alt.me-2
									| Delete this quote
				
				else
					// no quote-management dropdown
					
			
			.float-start(style="max-width: 60%;")
				if (quote.tags)
					each tag, tagIndex in quote.tags
						if (noTagLinks)
							span.badge.bg-primary.me-1
								i.fas.fa-tag.me-1
								| #{tag}
						else
							a.badge.bg-primary.me-1(href=`/tags/${tag}`)
								i.fas.fa-tag.me-1
								| #{tag}

				.mt-2
					- var quoteUsername = quote.username;
					if (noUserLinks)
						span.badge.badge-info
							i.fas.fa-user-circle.me-1
							| #{quoteUsername}

					else
						a.badge.badge-info(href=`/${quoteUsername}/quotes`)
							i.fas.fa-user-circle.me-1
							| #{quoteUsername}

				if (quote.link)
					.mt-2
						small
							if (quote.linkSite)
								a(href=quote.link, target="_blank") #{quote.linkSite}
							else
								a(href=quote.link, target="_blank") link
				

		
		.clearfix
			.float-end
				
