extends layout

block headContent
	title #{speaker} quotes

block content
	+quoteListPageHeader(quoteCount, limit, offset, sort, paginationBaseUrl)
		+pageTitle(`${quoteCount.toLocaleString()} Quote${quoteCount != 1 ? "s" : ""} from`)
			a.badge.text-bg-primary.me-1(href=`./speaker/${speaker}`)
				i.bi-person-fill.me-2
				| #{speaker}
				


	include ./shared/quotes-list.pug