extends layout

block content
	h1 #{speakersData.length.toLocaleString()} Speaker
		| #{speakersData.length != 1 ? "s" : ""}
	
	hr

	if (speakersData)
		each item in speakersData
			a.btn.btn-primary.btn-sm.me-2.mb-2(href=`/speaker/${item._id}`)
				i.bi-person-fill.me-2
				| #{item._id} 
				span.badge.bg-light.text-dark.ms-1 #{item.count.toLocaleString()}

		if (false)
			pre
				code #{JSON.stringify(speakersData, null, 4)}
	
	else
		| No speakers